* {
  margin: 0%;
  padding: 0%;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
}

/* Navbar styles */
.navbar {
  background-color: #172564;
  padding: 10px 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
  color: #EBEBEB;
  text-decoration: none;
}

.navbar-logo {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-menu input[name=search] {
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.navbar-menu a {
  color: #EBEBEB;
  text-decoration: none;
  margin-right: 20px;
}

/* Estilos para la sección de los tipos de prodcutos */
.padre-tipos-productos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
}

.padre-tipos-productos div { /* Estilos para los elementos individuales */
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Efecto de transición en el color de fondo */
}

.padre-tipos-productos div:hover { /* Estilos para los elementos cuando se pasa el cursor por encima */
  background-color: #007bff; /* Cambia el color de fondo al pasar el cursor */
  color: #fff; /* Cambia el color del texto al pasar el cursor */
  cursor: pointer; /* Cambia el cursor al pasar el cursor */
}

.padre-tipos-productos img {
  height: 300px;
  width: 300px;
}

.padre-tipos-productos div a { /* Estilos para los enlaces */
  text-decoration: none; /* Quita la subrayado predeterminado de los enlaces */
  color: inherit; /* Hereda el color del texto de su contenedor */
}

/*Objetos de confianza*/
.padre-separador-confianza {
  background-color: #EBEBEB;
}

.separador-confianza {
  display: flex;
  margin-top: 30px;
  justify-content: space-evenly;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.separador-confianza img {
  height: 40px;
  width: 100%;
}

.separador-confianza a {
  text-decoration: none;
  color: black;
}

/*Estilos para contendeor de cartas de promocion y cartas de productos*/
.contenedor-productos {
  display: flex;
  width: 100%;
}

/* Estilos para cartas de promocion */
.contenedor {
  display: block;
  align-items: center;
}

.carta { /* Estilos para la carta */
  width: 350px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 30px;
  margin-top: 20px;
}

.carta-top { /* Estilos para la parte superior (título) */
  background-color: #1f369b;
  color: #fff;
  padding: 10px;
}

.carta-imagen { /* Estilos para la imagen */
  text-align: center;
}

.carta-imagen img {
  max-width: 100%;
  height: auto;
}

/* Cards de productos */
.padre-cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: stretch; /* Todas las cartas tendrán la misma altura */
}

div.product-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 15px;
  margin-bottom: 20px;
  text-align: center;
  width: 250px; /* Ancho de la carta */
  height: 619px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sombra */
}

.product-card img {
  max-width: 100%;
  height: auto;
}

.product-card p.product-name {
  font-weight: bold;
  margin-top: 10px;
}

.product-card p.product-price {
  color: #e91e63;
  font-size: 1.2em;
  margin-top: 5px;
}

.product-card p.product-feature {
  font-weight: bold;
  margin-top: 10px;
}

.product-card button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-top: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: flex-end;
}

.product-card button:hover {
  background-color: #0056b3;
}

/* Estilos para el footer */
footer {
  background-color: #000; /* Fondo negro */
  color: #fff; /* Texto blanco */
  padding: 20px; /* Espacio interno */
  text-align: center;
  display: flex;
  justify-content: center;
  height: 250px;
}

footer div { /* Estilos para los divs dentro del footer */
  border-right: 1px solid #fff; /* Línea blanca a la derecha de los divs */
  padding-right: 20px; /* Espacio interno a la derecha de los divs */
  margin-right: 20px; /* Margen derecho entre los divs */
}

footer a {
  color: #fff;
}

footer div:last-child { /* Estilo para el último div para eliminar la línea blanca */
  border-right: none; /* Elimina la línea blanca en el último div */
  margin-right: 0; /* Elimina el margen derecho en el último div */
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar-menu {
    flex-direction: row;
    align-items: flex-start;
  }
  .navbar-menu a {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .navbar-menu input {
    display: none;
  }
}
@media (max-width: 685px){
  .contenedor{
    display: none;
  }
  .padre-cards{
    justify-content: center;
  }
}

/*-----------------ESTILOS-------- SESION.HTML------------------*/
/* Estilos para el contenedor principal */
/* Estilos para el contenedor principal */
.divisor {
  display: flex; /* Usamos flexbox para distribuir los elementos en filas (por defecto) */
  justify-content: center; /* Centra los elementos horizontalmente en el centro de la página */
  align-items: center; /* Centra los elementos verticalmente en el centro de la página */
  height: 100vh; /* Establece la altura al 100% de la ventana gráfica (viewport height) */
}

/* Estilos para la mitad izquierda */
.parte-izquierda-sesion {
  flex: 4; /* La mitad izquierda tomará el 40% del espacio disponible */
  text-align: center; /* Centra el contenido dentro de la parte izquierda */
  padding: 20px; /* Añade espacio alrededor del contenido */
  background-color: #ffffff; /* Color de fondo opcional */
  border-right: 1px solid black; /* Agrega una línea negra a la derecha de la parte izquierda */
  margin-right: 20px; /* Espacio a la derecha de la línea */
}

/* Estilos para la imagen */
.parte-izquierda-sesion img {
  max-width: 100px; /* Establece el ancho máximo de la imagen */
  height: auto; /* Ajusta automáticamente la altura para mantener la proporción */
  margin: 10px; /* Agrega un margen alrededor de la imagen */
}

/* Estilos para el enlace */
.parte-izquierda-sesion a {
  text-decoration: none;
  color: rgb(49, 12, 8);
  font-size: 16px; /* Tamaño de fuente inicial */
  margin: 10px 0; /* Espacio vertical entre los enlaces */
  display: block; /* Convierte el enlace en un elemento de bloque */
}

/* Estilos para la parte derecha */
.parte-derecha-sesion {
  flex: 6; /* La mitad derecha tomará el 60% del espacio disponible */
  display: flex; /* Usamos flexbox para colocar los elementos uno debajo del otro */
  flex-direction: column; /* Los elementos se apilan en una columna */
  justify-content: center; /* Centra los elementos verticalmente en el centro de la página */
  align-items: center; /* Centra los elementos horizontalmente en el centro de la página */
  height: 100vh; /* Establece la altura al 100% de la ventana gráfica (viewport height) */
}

/* Estilos para el formulario */
.parte-derecha-sesion form {
  text-align: center; /* Centra el contenido dentro del formulario */
  padding: 20px; /* Espacio alrededor del formulario */
}

/* Estilos para los elementos del formulario */
.parte-derecha-sesion form h1 {
  font-size: 30px; /* Tamaño de fuente para el encabezado */
  margin-bottom: 10px; /* Espacio inferior para separarlo del siguiente elemento */
}

.parte-derecha-sesion form input[type=text],
.parte-derecha-sesion form input[type=password] {
  width: 100%; /* Ancho del 100% para que ocupen todo el ancho del formulario */
  padding: 10px; /* Espacio interno alrededor de los campos de entrada */
  margin-bottom: 10px; /* Espacio inferior entre los campos de entrada */
}

.parte-derecha-sesion form a {
  text-decoration: none; /* Quita el subrayado de los enlaces */
  display: block; /* Hace que el enlace ocupe todo el ancho disponible */
  margin-bottom: 10px; /* Espacio inferior entre los enlaces */
}

.parte-derecha-sesion form button {
  background-color: #007bff; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border-radius: 5px;
  padding: 10px 20px; /* Espacio interno alrededor del botón */
  border: none; /* Quita el borde del botón */
  margin: 10px auto; /* Centra horizontalmente y agrega espacio vertical entre los botones */
  display: block; /* Hace que los botones ocupen todo el ancho disponible */
}

/* Estilos para pantallas más pequeñas, por ejemplo, dispositivos móviles */
@media (max-width: 768px) {
  .divisor {
    display: flex;
    flex-direction: column;
  }
  .parte-izquierda-sesion {
    flex: none;
    border-right: none; /* Elimina el borde derecho */
    border-bottom: 1px solid black; /* Agrega un borde inferior */
    order: 1; /* Cambia el orden para ponerlo en la parte superior */
  }
  .parte-izquierda-sesion img {
    width: 50px;
  }
  .parte-derecha-sesion {
    order: 2; /* Cambia el orden para ponerlo debajo de la izquierda */
  }
}
/*-----------------ESTILOS-------- CARRITO.HTML------------------*/
/* Estilos para el contenedor principal */
.container {
  display: flex;
  justify-content: space-between; /* Distribuir los elementos horizontalmente */
  align-items: center; /* Alinear elementos en la parte superior */
}

/* Estilos para el contenedor principal del carrito */
.container-carrito {
  flex-basis: 70%;
  max-width: 800px; /* Ancho máximo del contenedor */
  margin: 0; /* Eliminamos el margen para que esté completamente a la izquierda */
  padding: 20px;
  padding-top: 2.8rem;
  float: left; /* Alineamos el contenedor a la izquierda */
}

/* Estilos para el contenedor de la factura a la derecha */
.container-factura {
  flex-basis: 30%;
  max-width: 40%; /* Ancho máximo del contenedor de la factura */
  float: right; /* Alineamos el contenedor de la factura a la derecha */
  padding-top: 2.8rem;
  padding-right: 2rem;
}

/* Estilos para los productos en el carrito */
.producto {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

#forma-envio {
  max-width: 40px;
  height: auto; /* Estilos para la sección de compras */
}

.container-compras {
  flex-basis: 70%;
  max-width: 800px; /* Ancho máximo del contenedor */
  margin: 0; /* Eliminamos el margen para que esté completamente a la izquierda */
  padding: 20px;
  padding-top: 2.8rem;
  float: left; /* Alineamos el contenedor a la izquierda */
}

/* Estilos para los productos en la sección de compras */
.producto {
  display: flex;
  margin: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

.producto img {
  max-width: 40px;
  height: auto;
  margin-right: 20px;
}

.producto-info {
  flex-grow: 1;
}

.producto a img {
  max-width: 200px; /* Cambia el tamaño máximo de las imágenes dentro de las etiquetas <a> */
  height: auto;
}

h1 {
  padding-left: 30px;
  font-size: 2.5rem;
}

h4 {
  padding-left: 30px;
  font-size: 1.5rem;
}

.producto-info {
  flex-grow: 1;
}

.producto a img {
  max-width: 200px; /* Cambia el tamaño máximo de las imágenes dentro de las etiquetas <a> */
  height: auto;
}

h1 {
  padding-left: 3rem;
  font-size: 2.2rem;
}

h4 {
  padding-left: 3rem;
  font-size: 1.5rem;
}

/* Estilos para las opciones de envío */
.opciones-envio {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.opciones-envio div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.opciones-envio input[type=radio] {
  margin-right: 5px;
}

/* Estilos para la factura */
.factura {
  background-color: #f2f2f2; /* Color de fondo de la factura */
  padding: 20px; /* Espacio alrededor de la factura */
  border: 1px solid #ccc; /* Borde alrededor de la factura */
}

.factura h2 {
  font-size: 24px; /* Tamaño de fuente para el título de la factura */
  margin-bottom: 10px; /* Espacio inferior para separarlo del subtotal */
}

.factura p {
  font-size: 16px; /* Tamaño de fuente para el texto de la factura */
  margin: 5px 0; /* Espacio vertical entre los elementos de la factura */
}

.total h4 {
  font-size: 20px; /* Tamaño de fuente para el total */
  margin-top: 10px; /* Espacio superior para separarlo del texto anterior */
  text-align: right; /* Alineación a la derecha para el total */
}

@media (max-width: 768px) {
  .container {
    display: block;
  }
  .container-compras {
    flex-basis: 100%; /* Cambia el ancho a 100% para que ocupe todo el ancho disponible */
    max-width: none; /* Elimina el ancho máximo */
    margin: 0; /* Elimina el margen */
    float: none; /* Elimina el float */
    margin-top: 20px; /* Agrega espacio superior para separarlo de otros elementos */
  }
  .factura {
    margin-top: 20px; /* Agrega espacio superior para separar la factura de .container-compras */
  }
  .container-factura {
    max-width: none;
    padding-left: 5rem;
  }
  .producto-info {
    display: flex;
    align-items: center;
  }
  .total h4 {
    text-align: end;
  }
}
@media(max-width: 589px){
  .producto {
    display: flex;
    flex-direction: column; /* Apila elementos verticalmente */
    border: 1px solid #ccc;
    padding: 20px; /* Aumenta el espacio interno */
    margin: 10px; /* Reduce el margen exterior */
  }

  .producto img {
    max-width: 100px; /* Cambia el tamaño de la imagen */
    margin-right: 0; /* Elimina el margen derecho */
  }

  .producto-info {
    flex-grow: 0; /* Evita que el contenido crezca en altura */
  }

  h1,
  h4 {
    padding-left: 0; /* Elimina el espacio a la izquierda */
    font-size: 1.5rem; /* Reduce el tamaño de la fuente */
  }
}

/*-----------------ESTILOS-------- COMPRAS.HTML------------------*/
.contenedor-compras {
  display: flex;
  justify-content: flex-start; /* Alinea los elementos al principio (izquierda) del contenedor */
}

.publicidad-compras {
  flex: 0 0 20%; /* Ocupa el 30% del ancho de la pantalla */
}

.container-compras {
  flex: 0 0 80%; /* Ocupa el 70% del ancho de la pantalla */
}

.compras {
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente */
  align-items: flex-start; /* Alinea los elementos a la izquierda */
}

/* Estilos para los productos en la sección de compras */
.producto {
  margin: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

.producto img {
  max-width: 200px;
  height: auto;
  margin-right: 20px;
}

.producto a img {
  max-width: 200px; /* Cambia el tamaño máximo de las imágenes dentro de las etiquetas <a> */
  height: auto;
}

.p-productos {
  display: flex;
  align-items: center;
}

h1 {
  padding-left: 30px;
  font-size: 2.5rem;
}

h3 {
  display: flex;
  align-items: center;
  font-size: 1.75rem;
  margin-right: 10px;
}

h4 {
  padding-left: 30px;
  font-size: 1.5rem;
}

.button-comprar-btn {
  display: flex;
  align-items: end;
}

@media (max-width: 1210px) {
  .publicidad-compras {
    display: none;
  }
}